<h1><%= t('admin.subcategory') %></h1>

<%= render 'form' %>
<br/>
<%= link_to t('admin.show'), @subcategory, class: 'btn btn-warning' %>
<%= link_to t('admin.back'), subcategories_path, class: 'btn btn-danger' %>
