<h1 style="text-align:center;"><%= t('choose.language') %></h1>
<br/>
<div class="center">
  <%= link_to t('polish') + " --> " + t('english'), pages_algorithm_path(id: params[:id], lang: 1, alg: 1), class: 'btn btn-warning button_font', style: 'width:550px; height: 70px;' %>
  <br/>
  <br/>
  <%= link_to t('english') + " --> " + t('polish'), pages_algorithm_path(id: params[:id], lang: 0, alg: 1), class: 'btn btn-warning button_font', style: 'width:550px; height: 70px;' %>
</div>