<h1>Choose a category</h1>

<% @categories.each do |category| %>
  <br/>
  <%= link_to "#{category.name}", pages_subcategory_list_path(id: category.id), class: 'btn btn-warning btn-block',style: 'width:550px; height: 50px;'%>
  <br/>
<% end %>
