<h1>Choose a set</h1>

<% @words.each do |word| %>
  <br/>
  <%= link_to "#{word.name}", pages_word_path(id: word.id), class: 'btn btn-warning btn-block',style: 'width:550px; height: 50px;'%>
  <br/>
<% end %>