<h1><%= t('category_edit') %></h1>

<%= render 'form' %>
<br/>
<%= link_to t('admin.show'), @category, class: 'btn btn-warning' %>
<%= link_to t('admin.back'), categories_path, class: 'btn btn-danger' %>
